.addshoppers_b_modal,
#wrapper[data-gjs-type="wrapper"] {
  font-family: 'Arial', sans-serif;
  color: #5b5b5b;
  margin: 0;
}

.block_content,
.block_content * {
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;
  width: auto;
  height: auto;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 0;
  min-height: 0;
  min-width: 0;
  float: none;
  position: static;
  box-shadow: none;
  text-shadow: none;
  line-height: normal;
  text-indent: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.block_content {
  padding: 0 !important;
  overflow: auto !important;
}

.block_content .modals__wrapper {
  margin-top: 0 !important;
}

.block_content p {
  margin: 20px 0;
}

.block_content .modal__wrapper-active,
.block_content .modal__wrapper-active .modal__content-full,
.block_content,
.block_content .modal__header {
  transition: 0s !important;
}

.block_content .modal__wrapper {
  animation: none !important;
}

.block_content .modal__wrapper {
  margin-bottom: 0 !important;
}

.block_content .modal__wrapper-deactive .modal__content-full {
  padding: 0 !important;
}


img.addshop-highlight {
  border: 3px solid #fd7f54;
  box-sizing: border-box;
}

.addshop- {
  &highlight {
    box-shadow: inset 0 0 0 3px #fd7f54;
  }

  &placeholder {
    padding: 40px 20%;
    background: #f2f2f2;
    border-radius: 5px;
    font-weight: bold;
  }

  &placeholder .config-btn {
    padding: 15px 20px;
    color: #fff;
    background: #5b5b5b;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }

  &vidwrap {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: auto !important;
  }

  &vidwrap img {
    width: 100%;
    height: auto;
  }

  // &button {
    // background-color: #64b3df;
    // padding: 20px;
    // color: #ffffff;
    // font-weight: bold;
  // }

  &modal-alert {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    background: #e94a5e;
    text-align: center;
    font-size: 12px;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }

  &stretch {
    width: 100%;
    height: 100%;
  }

  &os-form-group {
    margin-bottom: 15px;
  }

  &os-input,
  &os-textarea {
    padding: 20px;
    width: 100%;
    border: 1px solid #e7edf3;
  }

  &os-button {
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
    background: #1F2D3D;
  }
}

@media only screen and (max-width: 480px) {
  .block_content .modal__wrapper .modal__header .modal__header-content,
  .block_content .modal__wrapper .modal__header .modal__header-content span {
    font-size: 23px !important;
  }

  .addshop- {
    &modal {
      font-size: 14px !important;
    }

    &heading1,
    &heading1 span {
      font-size: 22px !important;
    }

    &heading2,
    &heading2 span {
      font-size: 16px !important;
    }

    &form input[type='text'],
    &button {
      font-size: 16px !important;
    }
  }
}
